<div class="row mb-1 mr-0 custom-border">
  <div class="col-md-3 custom-border-right mb-1 mt-1">
    <div class="row text-center">
      <div class="col-md-10">Code Article</div>
    </div>
  </div>

  <div class="col-md-3 custom-border-right mb-1 mt-1">
    <div class="row">
      <div class="col-md-12 text-center">
        Designation Article
      </div>
    </div>
  </div>

  <div class="col-md-2 custom-border-right mb-1 mt-1">
    <div class="row">
      <div class="col-md-12 text-center">
        2
      </div>
    </div>
  </div>

  <div class="col-md-2 custom-border-right mb-1 mt-1">
    <div class="row">
      <div class="col-md-12 text-center">
        6.12
      </div>
    </div>
  </div>

  <div class="col-md-2 mb-1 mt-1">
    <div class="row">
      <div class="col-md-12 text-center">
        73
      </div>
    </div>
  </div>
</div>



