<div class="row">
  <div class="col-md-10">
    <div class="input-group flex-nowrap">
      <input type="text" class="form-control" placeholder="Recherche..." aria-label="Username"
             aria-describedby="addon-wrapping">
      <div class="input-group-prepend">
        <span class="input-group-text" id="addon-wrapping"><i class="fas fa-search"></i></span>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="row">
      <div class="col-md-9 text-right p-2">
        <span>Bonjour Reda</span>
      </div>
      <div class="col-md-3">
        <img src="../../../favicon.ico" class="rounded-circle">

      </div>
    </div>
  </div>

</div>
