<div class="row mb-1 mr-0 custom-border">
  <div class="col-md-2 custom-border-right p-1 text-center">
    <img src="assets/product.png" width="100px" height="100px">
  </div>

  <div class="col-md-4 custom-border-right mb-1 mt-1">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-10">Nom</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-10">Prenom</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-phone-alt blue-color"></i></div>
        <div class="col-md-10">0011 22 33 44 55 66</div>
      </div>
    </div>
  </div>

  <div class="col-md-3 custom-border-right mb-1 mt-1">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fas fa-home blue-color"></i></div>
        <div class="col-md-10">Adresse 1 Adresse 2</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-map-marked-alt blue-color"></i></div>
        <div class="col-md-10">123456 Ville</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-globe-europe blue-color"></i></div>
        <div class="col-md-10">Pays</div>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-1 mt-1">
    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-link"><i class="fas fa-pencil-alt"></i>&nbsp;Modifier</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-link" style="color: indianred"><i class="fas fa-trash-alt" style="color: indianred" ></i>&nbsp;Suprimer</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-link" style="color: mediumseagreen"><i class="fas fa-list-alt" style="color: mediumseagreen"></i>&nbsp;Details</button>
      </div>
    </div>
  </div>
</div>

