<div class="col">
  <div class="row">
    <div class="col-md-8 p-0">
      <h1>Liste des Articles</h1>
    </div>
    <div class="col-md-4 text-right">
      les button
    </div>
  </div>
  <div class="col m-3">
    <app-detail-article></app-detail-article>
    <app-detail-article></app-detail-article>
    <app-detail-article></app-detail-article>
    <app-detail-article></app-detail-article>
    <app-detail-article></app-detail-article>
  </div>
  <div class="row text-center">
    navigation
  </div>
</div>
