body{
  background-color: #eff2f5 !important;
  font-size: 12px !important;
}
.background-grey{
  background-color: #eff2f5 !important;
}
.border-none{
  border: none !important;
}
.min-height-80{
  min-height: 80px;
}
.custom-border-right{
  border-right: 2px solid darkgray !important;
}
.custom-border{
  border: 2px solid darkgrey;
  border-radius: 5px;
}
.blue-color{
  color: deepskyblue;
}

